extends layout
block content
    h1= title

    if (toShow == null)
        h2 No instance to delete
    else
        - let oven_id = toShow._id
        - let oven_Color = toShow.oven_Color
        - let oven_Brand = toShow.oven_Brand
        - let oven_Type = toShow.oven_Type
        - let actionid = "/resource/oven/" + oven_id
        script let actionid = "#{actionid}"
        div
            div.row
                div(class='ovenAttr mr-3') Oven ID is:
                div #{oven_id}
            div.row
                div(class='ovenAttr mr-3') Oven Color is:
                div #{oven_Color}
            div.row
                div(class='ovenAttr mr-3') Oven Brand is:
                div #{oven_Brand}
            div.row
                div(class='ovenAttr mr-3') Oven Type is:
                div #{oven_Type}
        button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
        button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    script.
        function cancel() {
                // Go back to the home page for the costume collection
            window.location.href='/oven'
        }
    script.
        function deleteOnid() {
            console.log("starting delete")
                // delete first
            fetch(actionid, {
                method: 'DELETE' // Don't need a body for the delete
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Delete succeded")
                window.location.href='/oven'
                    // TODO handle body
            }).catch((error) => {
                    // TODO handle error
                alert("Delete failed " + error )
            });
        }