extends layout

block content

  h1= title
  - let result = results
  div(class= "container-fluid")
    div(class = "col m-1")
      each item,index in result
        - let destination = `dispatch(\"/oven/update?id=${item._id}\")`
        div(class="row-sm-2", class="m-1") Item #{item.oven_Color}(#{item.oven_Brand}) is #{item.oven_Type}
        button.btn( class="btn-primary ml-1", onclick= destination) Update

  script.
    function dispatch(path){
    window.location.href=path
    }